{% extends "base_generic.html" %}
{% block content %}
<div class="d-table mx-auto">
    {% if form.errors %}
    <p>Not correct username and password. Try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </div>
        <div>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </div>

        <div>
            <input type="submit" value="Login" class="btn btn-primary"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
    </form>



</div>
{% endblock content %}