{% extends "base_generic.html" %}

{% block content %}
<div class="d-table mx-auto justify-content-sm-left">
<!--    <h1 class="p-2">Početna</h1>-->
    {% if user.is_authenticated %}
            <h2>My projects</h2>
            <a href="{% url 'project:project_start' %}" class="btn btn-secondary m-2">Start a new project</a>
            <div>
                {% for project in object_list %}
                    <hr>
                        <a href="{{ project.get_absolute_url }}" class="mx-2">{{ project.title }}</a>
                    </hr>
                {% endfor %}
            </div>
        {% else %}
            <p>Welcome <em>UKS</em>. Please <a href="{% url 'login' %}">sign in</a></p>
        {% endif %}
</div>
{% endblock %}