<div style="overflow-wrap: break-word;">
    <b>Title:</b> <a href="{% url 'project:issue_detail' issue.id %}">
        {{ issue.title }}
    </a>
</div>
<div class="">
    <b>Description:</b> {{ issue.description }}
</div>
<div>
    <b>Date due:</b> {{ issue.due_date }}
</div>
<div>
    <b>Label:</b> {{ issue.label }}
</div>
<div>
    <b>Milestone:</b> {{ issue.milestone }}
</div>
<div class="btn-group btn-group-sm" role="group">
    <a href="{% url 'project:issue_update' issue.id %}" class="btn btn-primary" role="button">
        Update
    </a>
    <a href="{% url 'project:issue_delete' issue.id %}" class="btn btn-secondary" role="button">
        Delete
    </a>
</div>